
.characterCard--header {
  @include fill-parent;

  h1 {
    @include span-columns(3 of 4);
    font-size: 1em;
  }
}

.characterCard--actions {
  @include span-columns(1 of 4);
  text-align: right;
}

.characterCard--name {
  display: block;
}

.characterCard--tagLine {
  font-size: .9em;
  color: $light-font-color;
}

%characterCard--actions {
  cursor: pointer;
}

.characterCard--edit {
  @extend %characterCard--actions;
}

.characterCard--delete {
  @extend %characterCard--actions;
}
