
// bower:scss
@import "bourbon/dist/_bourbon.scss";
// endbower

@import 'base/grid-settings';
@import "neat/app/assets/stylesheets/_neat.scss";
@import 'base/base';

@import 'characterCard';

.browsehappy {
  @extend %flash-alert;
}

cm-menu {
  @include outer-container;
  display: block;
}

cm-modal {
  display: inline-block;
}

.charactersList {
  @include outer-container;

  cm-character-card {
    @include span-columns(3);
    @include omega(4n);
    margin-bottom: 2em;
  }
}

.charactersList--actions {
  @include span-columns(6);
  @include shift(6);
  text-align: right;
  margin-bottom: 2em;
}
.charactersList--characters {
  @include fill-parent;
}

.characterEdit {
  @include outer-container;
}
