@import 'neat/app/assets/stylesheets/_neat-helpers.scss';

// Neat Debugging
// $visual-grid: true;
// $visual-grid-opacity: .4;
// $visual-grid-index: front;
// $visual-grid-color: #eee;

// Neat Overrides
$column: 60px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
