<form name="characterEditForm" ng-submit="save()">
  <section class="characterEdit">
    <div class="characterEdit--avatar">
      <p>avatar goes here</p>
    </div>
    <div class="characterEdit--title">
      <label for="name">Name:</label>
      <input type="text" ng-model="character.name" ng-required="true" />
      <label for="tagLine">Tag Line:</label>
      <input type="text" ng-model="character.tagLine" />
    </div>
    <div class="form-buttons">
      <a href="" ng-click="cancel()">cancel</a>
      <button type="submit">Save</button>
    </div>
  </section>
</form>
